WHATSAPP='810xxxxx'
VIDEO=["url_1","url_2"]
FAMILY=["url_1","url_2","url..."]
NEW_BORN=["url_1","url_2","url..."]
WEDDING=["url_1","url_2","url..."]
MATERNITY=["url_1","url_2","url..."]
GROUP=["url_1","url_2","url..."]
GRADUATION=["url_1","url_2","url..."]
ENGAGEMENT=["url_1","url_2","url..."]
PREWEDDING=["url_1","url_2","url..."]
BANNER=["url_1","url_2","url_3"]
THUMBNAIL_FAMILY=url
THUMBNAIL_WEDDING=url
THUMBNAIL_PREWEDDING=url
THUMBNAIL_ENGAGEMENT=url
THUMBNAIL_NEW_BORN=url
THUMBNAIL_GRADUATION=url
THUMBNAIL_GROUP=url
THUMBNAIL_MATERNITY=url